.about {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.about .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 40%;
}

.about .left p {
    margin: 1.2rem 0;
}

.about .right {
    max-width: 60%;
}

.img-stack {
    display: flex;
    justify-content: flex-end;
}

.img {
    max-width: 70%;
    margin-right: 5rem;
}

.gfg {
    margin: 2rem 0;
}

.hackerrank {
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .about {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .about .left {
        text-align: center;
        margin: auto;
        padding: 1rem;
        max-width: 100%;
    }
    .about .left p {
        width: auto;
    }
    .about .right {
        max-width: 100%;
    }
    .img {
        max-width: 70%;
        margin: auto;
    }
}
